.dropdown:hover,
a:hover,
th:hover {
    cursor: pointer
}

body {
    height: 500px;
    background-color: #ededed;
}

.VerticalOptions {
    width: 20px;
    height: 20px
}

.dropdown-menu {
    padding: 10px
}

.container-fluid {
    background-color: #fff!important
}

.red-back {
    background-color: red
}

.table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse; 
}

td {
    width: 20%;
    max-width: 20%;
}

#tabellaPersone tr {
    border : 1px solid #107eee;
}

.table-header {
    background-color: #107eee;
    color: #fff;
    height: 40px;
    line-height: 27px
}

tr:nth-child(odd):not(.table-header) {
    background-color: #fafafa
}

tr:nth-child(even):not(.table-header) {
    background-color: #f1f1f1
}

td,
th {
    text-align: center
}

#toolbar {
    top: 430px;
    width: 100%;
}

#toolbar Button {
    height: 30px;
    line-height: 0;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px
}

.btnAggiungi,
.btnCerca {
    position: fixed;
    right: 37px;
    text-align: center;
    background-color: #5EF05E;
    height: 65px;
    width: 67px;
    box-shadow: none
}

#redditoAgg {
    margin-left: 20px
}

#sessoAggM {
    background-image: url(img/plus.png)
}

.SearchButton {
    margin-top: 6px;
    font-size: 25px
}

.btnAggiungi {
    bottom: 37px;
    border: none;
    border-radius: 70px
}

.btnCerca {
    color: #fff;
    padding: 10px 15px;
    bottom: 110px;
    border: none;
    border-radius: 70px
}

.btnAggiungi:focus,
.btnCerca:focus {
    outline: 0
}

.btnAggiungi:hover,
.btnCerca:hover {
    background-color: #58E058
}

.PlusIcon {
    width: 25px;
    height: 25px
}

.btnGreen {
    background-color: #5EF05E;
    border-color: #5EF05E;
    color: #fff
}

.btnGreen:hover {
    background-color: #58E058;
    border-color: #58E058
}