body{
    height: 500px;
}

.VerticalOptions{
    width: 20px;
    height: 20px;
}

.dropdown-menu{
    padding: 10px;
}

.container-fluid{
    width: 100%;
}

.btnAggiungi{
    position: fixed;
    bottom: 37px;
    right: 37px;
    text-align: center;
    background-color: #5EF05E;
    height: 65px;
    width: 67px;
    border: none;
    border-radius: 70px;
    box-shadow: none;
}

.btnAggiungi:focus{
    outline: none
}

.btnAggiungi:hover{
    background-color: #58E058;
}

.PlusIcon{
    width: 25px;
    height: 25px;
}

.form-check{
    padding: 10px;
    margin: 10px;
}
