.dropdown:hover,
a:hover,
th:hover, 
button:hover {
    cursor: pointer;
}

button {
    z-index: 1;
}

.btnLoginLogout{
    position: relative;
    margin-top: 7px;
    margin-bottom: 3px;
    border-radius: 6px;
    background-color: #107eee;
}

body {
    height: 500px;
    background-color: #ededed;
}

.VerticalOptions {
    width: 20px;
    height: 20px
}

.dropdown-menu {
    padding: 10px
}

.optionBtn {
    margin-top: 5px;
}

.container-fluid {
    background-color: #ededed;
    width: 75%;
}

.red-back {
    background-color: red
}

.table {
    width: 100%;
    margin-top: 20px;

}

.divTable{
    min-height: 565px;
}


td {
    width: 20%;
    max-width: 20%;
}

#tabellaPersone tr {
    border : 1px solid #107eee;
}

.table-header {
    background-color: #107eee;
    color: #fff;
    height: 40px;
    line-height: 27px
}

tr:nth-child(odd):not(.table-header) {
    background-color: #fafafa
}

tr:nth-child(even):not(.table-header) {
    background-color: #f1f1f1
}

td,
th {
    text-align: center
}

#toolbar {
    top: 430px;
    width: 100%;
}

#toolbar Button {
    height: 30px;
    line-height: 0;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px
}

.btnAggiungi,
.btnCerca {
    position: fixed;
    right: 37px;
    text-align: center;
    background-color: #107eee;
    height: 65px;
    width: 67px;
    box-shadow: none
}

#redditoAgg {
    margin-left: 20px
}

#sessoAggM {
    background-image: url(img/plus.png)
}

.SearchButton {
    margin-top: 6px;
    font-size: 25px
}

.btnAggiungi {
    bottom: 37px;
    border: none;
    border-radius: 70px
}

.btnCerca {
    color: #fff;
    padding: 10px 15px;
    bottom: 110px;
    border: none;
    border-radius: 70px
}

.btnAggiungi:focus,
.btnCerca:focus {
    outline: 0
}

.btnAggiungi:hover,
.btnCerca:hover {
    background-color: #107eee
}

.PlusIcon {
    width: 25px;
    height: 25px
}

.btnGreen {
    background-color: #107eee;
    border-color: #107eee;
    color: #fff
}

.btnGreen:hover {
    background-color: #107eee;
    border-color: #107eee
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.editable input[readonly] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.editable input[readonly]::-webkit-input-placeholder {
    color: #333;
}
.editable input[readonly]::-moz-placeholder {
    color: #333;
}
.editable input[readonly]:-ms-input-placeholder {
    color: #333;
}

.editable {
    background-color: #72A4D2;
}